
<div class="col-sm-12 col-lg-4">
  <div class="panel panel-danger">
    <div class="panel-heading">{{parentIndex+1}}级分类<span [ngClass]="{'parentname':true}">/{{parentname}}</span></div>
    <div class="panel-body">
      <!--#1 添加分类、批量管理按钮组-->
      <div [hidden]="batchFlag || addFlag || editFlag || deleteFlag">
        <button class="btn btn-info btn-sm" (click)="addFlag = true;addInput='';addErrors=[];errorsInit();"><span class="glyphicon glyphicon-plus"> </span> 添加分类</button>
        <button class="btn btn-info btn-sm" (click)="batchFlag=true;all=false;deleteItems=[];">批量管理</button>
      </div>
      <!--#2 添加分类、批量管理按钮组-->

      <!--#1 进入批量管理后显示的批量删除、取消管理按钮组-->
      <div [hidden]="!batchFlag">
        <button class="btn btn-info btn-sm" (click)="delItems()"><span class="glyphicon glyphicon-trash"> </span> 批量删除</button>
        <button class="btn btn-info btn-sm" (click)="all=ture;batchFlag=false;">取消管理</button>
      </div>
      <!--#2 进入批量管理后显示的批量删除、取消管理按钮组-->

      <!--#1 进入添加分类后显示的保存添加、取消添加按钮组-->
      <div [hidden]="!addFlag">
        <button class="btn btn-info btn-sm" (click)="saveItems()"><span class="glyphicon glyphicon-ok-sign"> </span> 保存添加</button>
        <button class="btn btn-info btn-sm" (click)="addFlag=false">取消添加</button>
      </div>
      <!--#2 进入添加分类后显示的保存添加、取消添加按钮组-->

      <div class="table-responsive">
        <table class="table table-hover">
          <!--#1 表头：全选、编号、分类名称、操作-->
          <tr>
            <th [hidden]="addFlag"><input type="checkbox" (click)="onAllChecked($event)" [(ngModel)]="all"  [hidden]="!batchFlag"></th>
            <th>#</th>
            <th>分类名称</th>
            <th [hidden]="addFlag || batchFlag">操作</th>
          </tr>
          <!--#2 表头：全选、编号、分类名称、操作-->

          <!--#1 每行数据结构：复选框、编号、分类名称、操作-->
          <tr *ngFor="let classify of getClassifyItems;let i = index" [ngClass]="{active: activeIndex===i}">
            <td [hidden]="addFlag">
              <input type="checkbox" [checked]="all" [hidden]="!batchFlag" (click)="onChecked($event)" value="{{classify._id}}">
            </td>
            <td>{{i+1}}</td>

            <!--#1 分类名称--显示时：数据绑定-->
            <td [hidden]="editIndex==i">{{classify.name}}</td>
            <!--#2 分类名称--显示时：数据绑定-->

            <!--#1 分类名称--编辑时：输入框和错误信息-->
            <td [hidden]="editIndex!=i">
              <input class="form-control input-sm" [(ngModel)]="editInput" required placeholder="输入分类名称">
              <div [hidden]="!classifyErrors.errors.length">
                <div class="col-sm-12 text-danger" [hidden]="classifyErrors.errors[classifyErrors.errors.length-1] != 2">失败：分类 "{{lastInput}}" 已存在！</div>
                <div class="col-sm-12 text-primary" [hidden]="classifyErrors.errors[classifyErrors.errors.length-1] != 3">错误：编辑失败，请检查网络状态!</div>
              </div>
            </td>
            <!--#2 分类名称--编辑时：输入框-->

            <!--#1 操作按钮组--显示时：详情、编辑、删除按钮组-->
            <td [hidden]="addFlag || batchFlag || (deleteIndex==i) || (editIndex==i)">
              <button class="btn btn-info btn-xs" [disabled]="editFlag || deleteFlag" (click)="detailClick(classify)">详情</button>
              <button class="btn btn-info btn-xs" (click)="editIndex=i;editFlag= true;editInput=classify.name;editErrors=[];errorsInit();" [disabled]="deleteFlag"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-info btn-xs" (click)="deleteIndex=i;deletefalg=true;deleteItems=[classify._id];" [disabled]="editFlag"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
            <!--#2 操作按钮组--显示时：详情、编辑、删除按钮组-->

            <!--#1 操作按钮组--编辑时：确认编辑、取消编辑按钮组-->
            <td [hidden]="editIndex!=i">
              <button class="btn btn-info btn-sm" [disabled]="!editInput" (click)="editItem(i)"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-danger btn-sm" (click)="editFlag=false;editIndex=-1;"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
            <!--#2 操作按钮组--编辑时：确认编辑、取消编辑按钮组-->

            <!--#1 操作按钮组--删除时：确认删除、取消删除按钮组-->
            <td [hidden]="deleteIndex!=i">
              <button class="btn btn-info btn-xs" (click)="delItems(i)"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-danger btn-xs" (click)="deleteFlag=false;deleteIndex=-1;"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
            <!--#2 操作按钮组--删除时：确认删除、取消删除按钮组-->
          </tr>
          <!--#2 每行数据结构：复选框、编号、分类名称、操作-->

          <!--#1 进入添加分类时显示在最后一行的内容-->
          <tr [hidden]="!addFlag">
            <td colspan="4">
              <form class="col-sm-12" #addForm = "ngForm" (ngSubmit)="addItem(addForm)" novalidate>
                <!--#1 分类名称输入框-->
                <div class="form-group col-sm-8">
                  <label for="name" class="sr-only">添加分类</label>
                  <input type="text" name="classifyname" [(ngModel)]="addInput" id="name" class="form-control input-sm" required placeholder="输入分类名称">
                </div>
                <!--#2 分类名称输入框-->

                <!--#1 确认输入、取消输入按钮组-->
                <div class="form-group col-sm-4">
                  <button class="btn btn-info btn-sm" [disabled]="!addInput" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
                  <button class="btn btn-danger btn-sm" (click)="addFlag=false"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <!--#2 确认输入、取消输入按钮组-->

                <!--#1 消息提示-->
                <div [hidden]="!classifyErrors.errors.length">
                  <div class="col-sm-12 text-primary" [hidden]="classifyErrors.errors[classifyErrors.errors.length-1] != 1">
                    <span class="badge badge-blue">{{classifyErrors.firstCount}}</span>注：添加成功：成功添加分类 "{{lastInput}}" ,可继续添加！
                  </div>
                  <div class="col-sm-12 text-danger" [hidden]="classifyErrors.errors[classifyErrors.errors.length-1] != 2">
                    <span class="badge badge-red">{{classifyErrors.secondCount}}</span>注：添加失败：分类 "{{lastInput}}" 已存在，请重新添加！
                  </div>
                  <div class="col-sm-12 text-danger" [hidden]="classifyErrors.errors[classifyErrors.errors.length-1] != 3">注：系统错误：提交失败，请检查网络状态！
                  </div>
                </div>
                <!--#2 消息提示-->
              </form>
            </td>
          </tr>
          <!--#2 进入添加分类时显示在最后一行的内容-->
        </table>
      </div>

    </div>
  </div>
</div>
