<nav id="main_nav">
  <ul class="nav-wrap">
    <li role="presentation" class="active"><a><span class="glyphicon glyphicon-home"></span>主页</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-user"></span>用户管理</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-th"></span>商品分类</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-gift"></span>商品管理</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-file"></span>订单管理</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-export"></span>推荐管理</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-heart-empty"></span>社区管理</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-envelope"></span>消息中心</a></li>
    <li role="presentation"><a><span class="glyphicon glyphicon-cog"></span>系统管理</a></li>
  </ul>
</nav>
