<div class="container">
  <div class="row">
    <header id="main_head" class="col-sm-12">
      <h1 class="col-sm-6"><span>校园共享平台</span>后台管理系统</h1>
      <div class="col-sm-6" id="nav_search">
        <form class="form-inline row">
          <div class="form-group col-sm-12">
            <div class="input-group col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control" placeholder="搜索">
              <a class="input-group-addon" href="#"><span class="glyphicon glyphicon-search"></span></a>
            </div>
          </div>
        </form>
      </div>
    </header>
  </div>

</div>
